.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 250, 250);
}

.left-section {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.hamburger-menu {
  height: 25px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
flex: 1;
margin-left: 70px;
margin-right: 35px;
max-width: 350px;
display: flex;
align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 1px 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(174, 173, 173);
  box-shadow: inset 0.3px 0.3px 3px rgba(0, 0, 0, 0.15);
  flex: 1;
  margin-right: 10px;
}

.search-bar {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 1px;
  width: 0;
}

.search-bar::placeholder {
 font-size: 15px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 40px;
  padding-bottom: 4px;
}

.search-button,
.voice-search-button,
.notifications-icon-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.notifications-icon-container .tooltip{
  font-family: Robot, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 38px;
  width: 40px;
  border-radius: 20px;
  border: none;
}

.voice-search-icon {
  height: 24px;
  padding: 1px;
  cursor: pointer;
  background-color: transparent;
}

.right-section {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.notify-icon {
  height: 24px;
  width: 36px;
  border-radius: 20px;
  padding: 1px;
  cursor: pointer;
  background-color: transparent;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: 2px;
  background-color: rgb(223, 7, 7);
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}

.profile-icon {
  height: 32px;
  width: 32px;
  border-radius: 20px;
  padding: 1px;
  cursor: pointer;
  background-color: transparent;
}
