      .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
      }

      @media (max-width: 750px) {
        .video-grid {
          grid-template-columns: 1fr 1fr;
        }
      }

       @media (max-width: 751px) and (min-width:999px) {
         .video-grid {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      @media (min-width:1000px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .video-title {
          font-size: 16px;
          line-height: 24px;
        }
        .video-time, .video-author, .video-stats {
          font-size: 14px;
        }
      }

      .thumbnail-row {
        margin-bottom: 8px;
        position: relative;
      }

      .thumbnail-1,
      .thumbnail-2
      {
        width: 100%;
      }

      .video-time {
        background-color: black;
        color: white;
        position: absolute;
        bottom: 12px;
        right: 8px;
        border-radius: 4px;
        padding: 2px 4px;
        font-size: 12px;
        font-weight: 500;
      }

      .video-title {
        margin-top: 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10px;
      }
      
      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .channel-picture {
        vertical-align: top;
        display: inline-block;
        position: relative;
      }  

      .profile-picture-container {
        display: inline-block;
        position: relative;
      }

      .channel-tooltip {
        position: absolute;
        background-color: white;
        width: 200px;
        padding: 12px 12px;
        box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
        border-radius: 4px;
        top: 55px;
        z-index: 300;

        opacity: 0;
        pointer-events: none;

        display: flex;
        align-items: center;
        transition: opacity 0.15s;
      }

      .profile-picture-container:hover .channel-tooltip{
       opacity: 1;
      }

      .channel-tooltip-picture {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-right: 8px;
      }

      .channel-tooltip-name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .channel-tooltip-stats {
        font-size: 14px;
        color: rgb(96, 96, 96);
      }

     .profile-picture {
      width: 36px;
      border-radius: 50px;
     }

     .video-author,
     .video-stats {
      font-size: 12px;
      color: rgb(96, 96, 96);
     }

     .video-author {
      margin-bottom: 5px;
     }

     .video-title-link {
      color: black;
      text-decoration: none;
     }

     
